body {
    background-color: rgb(236, 230, 221);
}

#header-nav {
    background-color: rgb(247, 237, 225);
}

header a {
    text-decoration: none;
    color: black;
}

#home-hero {
    background-image: url("../img/How\ To\ Be\ A\ Good\ Library\ Patron.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh !important;
}

#home-hero>div {
    background-color: rgba(247, 247, 247, 0.4);
}

#home-hero form button {
    background-color: transparent;
    color: black;
    margin-left: -7%;
}

.card {
    height: fit-content;
    width: fit-content;
}

.card>img {
    width: 300px;
    height: 250px;
}

.card>a>img {
    width: 300px;
    height: 250px;
}

.home-footer {
    margin-top: 40px;
    background-color: rgb(247, 237, 225);
    display: flex;
    justify-content: space-between;
}

.home-footer img {
    width: 20px;
    height: 20px;
}

.home-footer ul {
    list-style-type: none;
}

.home-footer a {
    text-decoration: none;
    color: #883F39;
}

#footer-FAQ {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 36px;
    width: 134px;
}

#footer-contact {
    display: flex;
    flex-direction: column;
    margin-left: 53px;
    margin-top: 46px;
}

.footer-social {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}

#footer-sub {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 72px;
    margin-top: 46px;
    margin-right: 30px;
}

.breadcrumb-item>a {
    text-decoration: none;
    color: black;
}

.img-fluid {
    width: 100%;
    height: auto;
    max-height: 500px;
}

#review-submit {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: right;
}

#book-name {
    text-align: center;
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#file {
    display: none;
}

label {
    border: none;
}

#addphoto {
    width: 100%;
    height: auto;
    max-height: 500px;
    margin-bottom: 10px;
}

ul {
    background-color: rgb(135, 86, 86);
    font-size: 18px;
    color: red;
}

.list-group-item:hover {
    background-color: rgb(61, 81, 88);
}